<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Updated CSS Variables with <span>JS</span></h1>
        <div class="control text-center">
          <label for="spacing">Spacing:</label>
          <input type="range" class="padding" name="spacing" min="10" max="200"
          value="10" data-sizing="px">
          <label for="blur">Blur:</label>
          <input type="range" class="blur" name="blur" min="10" max="200"
          value="10" data-sizing="px">
          <label for="spacing">Base Color:</label>
          <input type="color" class="color" name="base" value="#ffc600">
        </div>
        <img class="changable" src="images/variable-change.jpg" alt="variable change">
      </div>
    </div>
  </div>
</section>